.gameContainer {
  width: calc(100vw - 4rem);
  margin: 0 auto;
  height: 100%;
  position: relative;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}
